#!/bin/sh

start() {
	echo "Starting client ..."
	#HOST_ID={{ play_hosts.index(inventory_hostname) }} java -jar /tmp/client.jar hold-connections --connection-count=100 "--uri=failover:(tcp://3.253.20.110:51515,tcp://3.253.20.110:51515)" --dest=queue://TEST1 > /tmp/client.log 2>&1 &
	HOST_ID={{ play_hosts.index(inventory_hostname) }} java -jar /tmp/client.jar produce-and-consume --connections=5 "--uri=failover:(tcp://172.22.1.124:51515,tcp://172.22.1.124:51515)" --dest=topic://TEST1 > /tmp/client.log 2>&1 &
}

stop() {
	echo "Shutting down ..."
	for pid in `ps aux | grep "/tmp/client.jar" | grep -v grep | tr -s ' ' | cut -d ' ' -f 2`; do
		echo "killing process $pid ..."
		kill -9 $pid
	done
}

status() {
	num_of_processes=`ps aux | grep "/tmp/client.jar" | grep -v grep | wc -l`
	if [ $num_of_processes -eq 0 ]; then
		echo "Stopped"
		exit 1
	else
		echo "Running"
		exit 0
	fi
}

case "$1" in
	start) 	start ;;
	stop) 	stop ;;
	status)	status ;;
	*) 		echo "usage: $0 start|stop|status" >&2
			exit 1
			;;
esac
